/* Colors */
:root {
    --lightBlue: rgb(140, 159, 205);
    --purple: #8e55a3;
    --yellow: #ffdd6d;
}

body {
    background-color: var(--lightBlue);
    color: var(--purple)
}

button:focus,
select:focus {
    background-color: var(--lightBlue);
    color: var(purple);
    outline: 7px solid var(--yellow);
}